*.swp
*.swo
*.out
*in
*out
csacademy/a.exe
infoarena/a.exe
*.exe
*.exe
*.exe
*.exe
*.exe
*.exe
*.exe
*.exe
atcoder/a.exe
atcoder/a.exe
atcoder/a.exe
atcoder/n
atcoder/a.exe
UVA/a.out.dSYM/Contents/Info.plist
spoj/a.out.dSYM/Contents/Info.plist
